<div
  class="card w-100 mt-5"
  style="position: fixed; left: 0; bottom: 0; width: 100%"
>
  <div class="card-header">
    <footer style="text-align: center;">
      <p style="text-align: center;">&#169; All Rights Reserved</p>
      <cite title="Source Title">Nikk</cite>
    </footer>
  </div>
</div>
